.page-header__logo {
  position: absolute;
  background-color: #ffffff;
  width: 320px;
  height: 56px;
}

.main-logo {
  padding-left: 55px;
  margin-top: -1px;
}

.page-header__toggle {
  position: absolute;
  left: 260px;
  top: 12px;
  background-color: #81b3d2;
}
