.site-list {
  font-weight: bold;
}

.site-list a {
  display: block;
  padding: 12px 21px;
  padding-bottom: 13px;

  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  border-top: 1px solid #9ac2db;
  border-bottom: 1px solid #678fa8;
}

.site-list a[href] {
  &:hover {
    box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
    background-color: #669ec0;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
    background-color: #5496bd;
  }
}

.site-list__item {
  background-color: #81b3d2;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
}

.site-list__item a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 29px;
}

.site-list__white {
  position: absolute;
  background-color: #ffffff;
  width: 320px;
  height: 55px;
  border-bottom: 1px solid #ffffff;
}

@media (min-width: @tablet-width) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .site-list__white {
    display: none;
  }

  .site-list__item {
    width: 20%;
    padding-top: 2px;
    background-color: #ffffff;
  }

  .site-list__item.site-list__item--active {
    padding-right: 154px;
  }

  .site-list__item a {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    color: black;
    background-color: #ffffff;
    border: none;
    padding-bottom: 18px;
  }

  .site-list__item a[href] {
    &:hover {
      color: #81b3d2;

      background-color: #ffffff;
    }

    &:active {
      color: #766357;

      opacity: 0.3;
    }
  }
}


@media (min-width: @desktop-width) {
  .site-list {
    width: 1200px;
  }
}
