.wrapper {
  width: 320px;
  background-color: white;
  margin: 0 auto;
  padding-top: 12px;
  padding-right: 40px;
  padding-bottom: 25px;
  padding-left: 40px;
  margin-top: -8px;
}

.pictures__discription {
  margin: 0 auto;
  color: #333333;
  width: 270px;
}

.pictures__list {
  padding: 0;
}

.pictures__item__title {
  line-height: 24px;
}

.pictures__item__writer {
  color: #333333;
}

.pictures__item {
  list-style: none;
  border-bottom: 1px solid #fafbfd;
  padding-top: 25px;
}


@media (min-width: @tablet-width) {
  .wrapper {
    width: 705px;
    background-color: white;
  }
}


@media (min-width: @desktop-width) {
  .wrapper {
    width: 1200px;
    background-color: white;
  }
}
