.pictures__item__title {
  line-height: 24px;
}

.pictures__item__writer {
  color: #333333;
}

.pictures__list {
  width: 320px;
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}

.pictures__item {
  flex-grow: 1;
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #fafbfd;
  padding-top: 25px;
}

.pictures__item.pictures__item--big {
  width: 100%;
}

@media (min-width: @tablet-width) {
  .pictures__list {
    display: flex;
    flex-wrap: wrap;
    width: 770px;
  }
}


@media (min-width: @desktop-width) {
  .pictures__list {
    width: 1200px;
  }
}
