.wrapper p {
  margin: 0 auto;
  color: #333333;
}

.wrapper h3 {
  font-size: 18px;
  margin: 0 auto;
  color: #333333;
}

.pictures__item__title {
  line-height: 24px;
}

.wrapper {
  width: 240px;
  background-color: white;
  margin: 0 auto;
  padding-top: 30px;
  padding-right: 40px;
  padding-bottom: 25px;
  padding-left: 40px;
}

@media (min-width: @tablet-width) {
  .wrapper {
    width: 690px;
    background-color: white;
  }
}


@media (min-width: @desktop-width) {
  .wrapper {
    width: 1120px;
    background-color: white;
  }
}

.pictures__item__writer {
  color: #333333;
}

.pictures__list {
  width: 320px;
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
}

.pictures__item {
  flex-grow: 1;
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #fafbfd;
  padding-top: 25px;
}

.pictures__item.pictures__item--big {
  width: 100%;
}

@media (min-width: @tablet-width) {
  .pictures__list {
    display: flex;
    flex-wrap: wrap;
    width: 770px;
  }
}


@media (min-width: @desktop-width) {
  .pictures__list {
    width: 1200px;
  }
}
