.video {
  margin: 0 auto;
  padding-top: 12px;
  padding-right: 40px;
  padding-bottom: 25px;
  padding-left: 40px;
}

.video__discription {
  margin: 0 auto;
  color: #333333;
}

.video__screen {
  display: none;
}

@media (min-width: @tablet-width) {
  .video {
    width: 690px;
    background-color: white;
  }
}


@media (min-width: @desktop-width) {
  .video {
    width: 1120px;
    background-color: white;
  }
}
