.video {
  margin: 0 auto;
  padding-top: 12px;
  padding-right: 40px;
  padding-bottom: 25px;
  padding-left: 40px;
}

.video__discription {
  margin: 0 auto;
  color: #333333;
}

.video__screen {
  display: none;
}

@media (min-width: @tablet-width) {
  .video {
    width: 690px;
    background-color: white;
  }

  .video__header {
    font-size: 30px;
    margin: 0;
    padding-top: 25px;
    padding-bottom: 30px;
  }

  .video__discription {
    width: 412px;
    padding-bottom: 69px;
  }
}


@media (min-width: @desktop-width) {
  .video {
    width: 1120px;
    background-color: white;
  }
}
