.video {
  margin: 0 auto;
  background-color: #ffffff;
  padding-top: 12px;
  padding-bottom: 76px;
}

.video h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin: 0;
  padding-top: 21px;
  padding-bottom: 26px;
}

.video__discription {
  width: 235px;
  line-height: 24px;
  margin: 0 auto;
  color: #333333;
  padding-bottom: 34px;
}

.video img {
  width: 320px;
}

.video__screen {
  display: none;
}

@media (min-width: @tablet-width) {
  .video {
    padding-bottom: 20px;
    background-color: white;
  }

  .video h3 {
    font-size: 30px;
    margin: 0;
    padding-top: 56px;
    padding-bottom: 32px;
  }

  .video__discription {
    width: 412px;
    padding-bottom: 72px;
  }

  .video img {
    width: 650px;
  }
}


@media (min-width: @desktop-width) {
  .video {
    width: 1198px;
    padding-bottom: 66px;
    background-color: white;
  }

  .video h3 {
    padding-top: 31px;
  }

  .video__discription {
    padding-bottom: 71px;
  }

  .video img {
    width: 800px;
  }
}
