.wrapper {
  width: 320px;
  background-color: white;
  padding-bottom: 25px;
}

.wrapper img {
  margin-top: -36px;
  width: 100%;
}

.wrapper h3 {
  font-size: 18px;
  margin: 0 auto;
  color: #333333;
}

.wrapper p {
  margin: 0 auto;
  color: #333333;
}

@media (min-width: @tablet-width) {
  .wrapper {
    background-color: white;
  }
}


@media (min-width: @desktop-width) {
  .wrapper {
    width: 1200px;
    background-color: white;
  }

  .wrapper img {
    margin-top: -60px;
    width: 1200px;
  }
}
