.differences__picture img {
  background: @body-background url("../img/main-city-mobile@1x.jpg");
  background-size: 720px auto;
}


@media (min-width: @tablet-width) {
  .differences__picture img {
    background: @body-background url("../img/main-city-tablet@1x.jpg");
    background-size: 1178px auto;
  }
}

@media (min-width: @desktop-width) {
  .differences__picture img {
    background: @body-background url("../img/main-city-desktop@1x.jpg");
    background-size: 1391px auto;
  }
}
