.social {
  padding: 0;
  width: 320px;
  margin: 0;
  list-style: none;
}

.social__link {
  text-decoration: none;
}

@media (min-width: @tablet-width) {
  .social {
    width: 770px;
    display: flex;
    justify-content: center;
  }
}


@media (min-width: @desktop-width) {
  .social {
    width: 1200px;
  }
}
