.container {
  width: 320px;
  margin: 0 auto;
  text-align: center;
}

.container__corner {
  width: 322px;
}

@media (min-width: @tablet-width) {
  .container {
    width: 768px;
    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  }
}


@media (min-width: @desktop-width) {
  .container {
    width: 1198px;
  }
}

@media (min-width: @tablet-width) {
  .container__corner {
    width: 100%;
    padding-top: 26px;
  }
}


@media (min-width: @desktop-width) {
  .container__corner {
    width: 705px;
  }
}
