.differences {
  margin: 0 auto;
  background-color: #81b3d2;
  color: #ffffff;
}

.differences__corner {
  margin-top: -1px;
}

.differences__text {
  padding-bottom: 25px;
}

.differences__text h3 {
  font-weight: 700;
  font-size: 18px;
  margin: 0;
  padding-top: 32px;
  padding-bottom: 6px;
}

.differences__text p {
  margin: 0;
  padding-top: 13px;
  font-size: 14px;
  font-weight: 100;
  line-height: 21px;
  padding-bottom: 15px;
  padding-left: 18px;
  padding-right: 18px;
}

.differences__offer h3 {
  font-weight: 700;
  font-size: 18px;
  padding-top: 39px;
  padding-bottom: 6px;
  margin: 0;
}

.differences__offer p {
  margin: 0;
  padding-top: 14px;
  padding-bottom: 38px;
  line-height: 21px;
}

.differences__picture img {
  width: 320px;
  height: 260px;
  margin-bottom: -8px;
}

@media (min-width: @tablet-width) {
  .differences {
    display: flex;
  }

  .differences__text {
    width: 256px;
    padding-top: 24px;
    padding-bottom: 28px;
  }

  .differences__text h3 {
    width: 162px;
    font-size: 21px;
    padding-top: 21px;
    padding-left: 47px;
    padding-bottom: 7px;
  }

  .differences__text p {
    width: 162px;
    font-size: 14px;
    padding-top: 20px;
    padding-left: 47px;
  }

  .differences__offer h3 {
    width: 151px;
    font-size: 21px;
    padding-top: 37px;
    padding-left: 52px;
    padding-bottom: 7px;
  }

  .differences__offer p {
    width: 162px;
    font-size: 14px;
    padding-top: 20px;
    padding-left: 47px;
    padding-bottom: 43px;
  }

  .differences__offer {
    order: 1;
    width: 256px;
    padding-top: 8px;
  }

  .differences__picture img {
    width: 512px;
    height: 256px;
  }

  .differences__corner {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .differences {
    display: flex;
  }

  .differences__text {
    width: 400px;
    padding-top: 21px;
    padding-bottom: 41px;
  }

  .differences__text h3 {
    width: 216px;
    padding-top: 31px;
    padding-left: 92px;
  }

  .differences__text p {
    width: 265px;
    padding-left: 67px;
  }

  .differences__offer {
    width: 400px;
    padding-top: 8px;
  }

  .differences__offer h3 {
    width: 151px;
    padding-top: 45px;
    padding-left: 124px;
  }

  .differences__offer p {
    width: 310px;
    font-size: 14px;
    padding-top: 20px;
    padding-left: 47px;
  }

  .differences__picture img {
    width: 800px;
    height: 256px;
  }

  .differences__corner {
    display: none;
  }
}
