.differences {
  background-color: #81b3d2;
  color: #ffffff;
}

.differences__text h3 {
  font-size: 18px;
}

.differences__text img {
  margin-top: -1px;
}

.differences__picture img {
  margin-bottom: -8px;
}
