.differences {
  margin: 0 auto;
  background-color: #81b3d2;
  color: #ffffff;
}

.differences__corner {
  margin-top: -1px;
}

.differences__text {
  padding-bottom: 25px;
}

.differences__text h3 {
  font-size: 18px;
  margin: 0;
  padding-top: 32px;
  padding-bottom: 6px;
}

.differences__text p {
  margin: 0;
  padding-top: 13px;
  font-size: 16px;
  font-weight: 100;
  line-height: 21px;
  padding-bottom: 15px;
}

.differences__picture img {
  margin-bottom: -8px;
}

@media (min-width: @tablet-width) {
  .differences {
    display: flex;
  }

  .differences__text {
    padding-right: 20px;
    padding-top: 24px;
    padding-left: 10px;
  }

  .differences__text--img {
    order: 1;
    width: 350px;
  }

  .differences__picture img {
    width: 1076px;
  }


  .differences__corner {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .differences {
    display: flex;
  }

  .differences__text {
    padding-right: 20px;
    padding-top: 24px;
    padding-left: 10px;
  }

  .differences__picture img {
    width: 1024px;
    height: 256px;
  }

  .differences__corner {
    display: none;
  }
}
