.features {
  position: relative;
  text-align: left;
  padding-left: 71px;
  background-color: white;
  margin: 0 auto;
  padding-top: 35px;
  padding-bottom: 8px;
}

.features__small--home svg {
  position: absolute;
  top: 25px;
  left: 19px;
  width: 40px;
  height: 44px;
  fill: #81b3d2;
}

.features__small--gifts svg {
  position: absolute;
  top: 154px;
  left: 23px;
  width: 40px;
  height: 44px;
  fill: #81b3d2;
}

.features__small--food svg {
  position: absolute;
  top: 270px;
  left: 16px;
  width: 40px;
  height: 44px;
  fill: #81b3d2;
}

.features__small h3 {
  font-weight: 700;
  font-size: 18px;
  margin: 0;
}

.features__small p {
  line-height: 21px;
  color: #333333;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 28px;
  padding-right: 30px;
}

.features__small.features__small--space {
  display: none;
}

@media (min-width: @tablet-width) {
  .features {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-left: 0;
    padding-top: 21px;
    padding-bottom: 33px;
  }

  .features__small--home svg {
    position: absolute;
    top: 59px;
    left: 85px;
    width: 80px;
    height: 84px;
    fill: #81b3d2;
  }

  .features__small--gifts svg {
    position: absolute;
    top: 56px;
    left: 603px;
    width: 80px;
    height: 84px;
    fill: #81b3d2;
  }

  .features__small--food svg {
    position: absolute;
    top: 61px;
    left: 340px;
    width: 80px;
    height: 84px;
    fill: #81b3d2;
  }

  .features__small {
    width: 170px;
  }

  .features__small h3 {
    font-size: 21px;
    padding-top: 138px;
    padding-bottom: 7px;
  }

  .features__small p {
    padding-right: 4px;
    padding-top: 14px;
  }

  .features__small.features__small--food {
    width: 160px;
  }

  .features__small.features__small--gifts {
    margin-right: -4px;
    order: 3;
  }

  .features__small.features__small--space {
    display: block;
  }
}


@media (min-width: @desktop-width) {
  .features {
    padding-bottom: 53px;
    background-color: white;
  }

  .features__small--home svg {
    position: absolute;
    top: 59px;
    left: 155px;
    width: 84px;
    height: 81px;
    fill: #81b3d2;
  }

  .features__small--gifts svg {
    position: absolute;
    top: 56px;
    left: 963px;
    width: 80px;
    height: 84px;
    fill: #81b3d2;
  }

  .features__small--food svg {
    position: absolute;
    top: 60px;
    left: 556px;
    width: 80px;
    height: 84px;
    fill: #81b3d2;
  }

  .features__small.features__small--home p {
    width: 254px;
    margin-left: -44px;
  }

  .features__small.features__small--gifts {
    margin-right: 0;
  }

  .features__small.features__small--food p {
    width: 283px;
    margin-left: -61px;
  }

  .features__small.features__small--gifts p {
    width: 230px;
    margin-left: -29px;
  }
}
