.intresting {
  margin: 0 auto;
  padding-bottom: 50px;
  background-color: #ffffff;
}

.intresting__header {
  font-weight: 700;
  font-size: 21px;
  margin: 0;
  padding-top: 30px;
}

.intresting__discription {
  line-height: 24px;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 34px;
  padding-right: 15px;
  padding-left: 15px;
  color: #333333;
}

.intresting__discription.intresting__discription--space {
  display: none;
}

.intresting__find.button {
  display: block;
  width: 260px;
  margin-left: 20px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  background-color: #81b3d2;
  color: white;
  text-decoration: none;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 10px;
  padding-left: 10px;
}

.intresting__find:disabled {
  background-color: #e5e5e5;
}

@media (min-width: @tablet-width) {
  .intresting {
    padding-bottom: 57px;
  }

  .intresting__header {
    font-size: 30px;
    padding-top: 56px;
  }

  .intresting__discription {
    padding-top: 31px;
    padding-bottom: 43px;
    padding-left: 0;
    padding-right: 0;
  }

  .intresting__discription.intresting__discription--space {
    display: block;
  }

  .intresting__find.button {
    margin-left: 156px;
    padding-right: 100px;
    padding-left: 98px;
  }
}


@media (min-width: @desktop-width) {
  .intresting {
    padding-bottom: 66px;
  }

  .intresting__header {
    font-size: 30px;
    padding-top: 57px;
  }

  .intresting__discription {
    padding-bottom: 47px;
  }

  .intresting__find.button {
    margin-left: 371px;
    padding-right: 100px;
    padding-left: 97px;
  }
}
