.intresting {
  background-color: #ffffff;
}

.intresting__header {
  font-size: 21px;
}

.intresting__discription {
  color: #333333;
}

.intresting__find.button {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  background-color: #81b3d2;
  color: white;
  text-decoration: none;
}
