.intresting {
  margin: 0 auto;
  padding-bottom: 25px;
  background-color: #ffffff;
}

.intresting__header {
  font-size: 21px;
  margin: 0;
}

.intresting__discription {
  margin: 0;
  padding-top: 16px;
  padding-bottom: 31px;
  color: #333333;
}

.intresting__find.button {
  display: block;
  width: 260px;
  margin-left: 20px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  background-color: #81b3d2;
  color: white;
  text-decoration: none;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 10px;
  padding-left: 10px;
}

@media (min-width: @tablet-width) {
  .intresting__header {
    font-size: 21px;
    padding-top: 35px;
  }

  .intresting__find.button {
    margin-left: 160px;
    padding-right: 95px;
    padding-left: 95px;
  }
}


@media (min-width: @desktop-width) {
  .intresting__header {
    font-size: 30px;
    padding-top: 73px;
  }

  .intresting__find.button {
    margin-left: 373px;
    padding-right: 95px;
    padding-left: 95px;
  }
}
