.main-picture {
  padding-right: 22px;
  padding-left: 23px;
  background-color: white;
  padding-bottom: 6px;
}

.main-picture h2 {
  font-size: 18px;
  padding-top: 24px;
  padding-bottom: 13px;
}

.main-picture p {
  color: #333333;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .main-picture {
    background-color: white;
  }

  .main-picture h2 {
    font-size: 21px;
    padding-top: 34px;
    padding-bottom: 11px;
  }

  .main-picture p {
    color: #333333;
    margin: 0;
    padding-bottom: 42px;
  }
}


@media (min-width: @desktop-width) {
  .main-picture {
    background-color: white;
  }

  .main-picture img {
    margin-top: -60px;
  }
}
