.main-picture {
  width: 320px;
  background-color: white;
  padding-bottom: 25px;
}

.main-picture img {
  margin-top: -36px;
  width: 768px;
}

.main-picture h2 {
  font-size: 18px;
}

.main-picture p {
  color: #333333;
}

@media (min-width: @tablet-width) {
  .main-picture {
    width: 770px;
    background-color: white;
  }
}


@media (min-width: @desktop-width) {
  .main-picture {
    width: 1200px;
    background-color: white;
  }
}
