.main-map {
  background-color: #ffffff;
  padding-bottom: 28px;
}

@media (min-width: @tablet-width) {
  .main-map__picture img {
    width: 100%;
  }

  .main-map {
    padding-top: 0;
    padding-bottom: 38px;
  }
}
