.attraction {
  margin: 0 auto;
}

.attraction__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 18px;
  line-height: 26px;
  list-style: none;
  margin: 0;
  padding-left: 54px;
}

.attraction__item {
  margin-bottom: 54px;
  padding-left: 45px;
}

.attraction__item-picture {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.attraction__item label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.attraction__input + label::before {
  content: "";
  position: absolute;
  left: -81px;
  top: -13px;
  width: 46px;
  height: 46px;
  border-radius: 10%;
  border: 5px solid #f2f2f2;
  background-color: #f2f2f2;
}

.attraction__input:checked + label::after {
  content: "";
  position: absolute;
  top: 7px;
  left: -62px;
  width: 25px;
  height: 16px;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.attraction fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.attraction legend {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.attraction__input + label:hover::before,
.attraction__input + label:focus::before {
  border: 5px solid #e5e5e5;
  background-color: #e5e5e5;
}

.attraction__input + label:active::before {
  border: 5px solid #d5d5d5;
  background-color: #d5d5d5;
}

.attraction__input + label:active::after {
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .attraction {
    position: relative;
    order: 1;
    padding-right: 75px;
    padding-left: 75px;
    padding-top: 28px;
  }

  .attraction legend {
    font-size: 22px;
    margin-bottom: 57px;
  }

  .attraction legend::before {
    content: "";
    position: absolute;
    width: 126px;
    border-top: 1px solid #dbdbdb;
    top: 26px;
    left: -76px;
  }

  .attraction legend::after {
    content: "";
    position: absolute;
    width: 126px;
    border-top: 1px solid #dbdbdb;
    top: 26px;
    right: -78px;
  }

  .attraction__list {
    width: 443px;
  }

  .attraction__item {
    margin-bottom: 62px;
    padding-left: 45px;
    padding-right: 30px;
  }

  .attraction__item--action {
    margin-right: -12px;
  }
}

@media (min-width: @desktop-width) {
  .attraction {
    padding-top: 29px;
  }

  .attraction legend::before {
    width: 282px;
    top: 26px;
    left: 18px;
  }

  .attraction legend::after {
    width: 282px;
    top: 26px;
    right: 14px;
  }

  .attraction__list {
    width: 940px;
  }
}
