.avatar__text {
  position: absolute;
  top: 292px;
  left: 350px;
}

.avatar__corner {
  position: absolute;
  left: 329px;
  top: 616px;
}

.avatar__logo {
  background-image: url("../../../img/back-mobile.jpg");
  background-repeat: no-repeat;
}
