.coment input[type="tel"],
input[type="email"] {
  width: 202px;
  height: 56px;
  border: none;
  padding-left: 22px;
  background-color: #f2f2f2;
}

.coment input[class="name__user"] {
  width: 208px;
  height: 26px;
  border: none;
  font-size: 16px;
  padding-left: 21px;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #f2f2f2;
}

.coment input[class="name__surname"] {
  width: 155px;
  height: 26px;
  text-align: left;
  font-size: 18px;
  border: none;
  padding-left: 23px;
  padding-right: 12px;
  background-color: #f2f2f2;
  padding-top: 14px;
  padding-bottom: 16px;
}

.coment input[class="name__seconduser"] {
  width: 175px;
  height: 26px;
  text-align: left;
  font-size: 18px;
  border: none;
  padding-left: 19px;
  background-color: #f2f2f2;
  margin-right: -6px;
  margin-left: 7px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.coment {
  background-color: white;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 25px;
}

.coment h3 {
  font-size: 18px;
  text-transform: uppercase;
  margin: 0 auto;
  color: #333333;
  border-top: 1px solid #e5e5e5;
}

.coment p {
  margin: 0 auto;
  color: #333333;
}

.coment input:hover {
  background-color: #e5e5e5;
}

.coment input[type="tel"]:hover {
  background-color: #e5e5e5;
}

.coment input[class="name__user"]:active,
.coment input[class="name__user"]:focus {
  border: 4px solid #e5e5e5;
  background-color: #ffffff;
  height: 19px;
  width: 200px;
  padding-left: 17px;
  padding-top: 15px;
  padding-right: 4px;
}

.coment input[class="name__surname"]:active,
.coment input[class="name__surname"]:focus {
  border: 4px solid #e5e5e5;
  background-color: #ffffff;
  height: 19px;
  width: 160px;
  padding-left: 19px;
  padding-top: 14px;
  padding-right: 3px;
  padding-bottom: 15px;
}

.coment input[class="name__seconduser"]:active,
.coment input[class="name__seconduser"]:focus {
  border: 4px solid #e5e5e5;
  background-color: #ffffff;
  height: 17px;
  width: 160px;
  padding-left: 15px;
  padding-top: 17px;
  padding-right: 11px;
}

.coment input[type="tel"]:active,
.coment input[type="tel"]:focus {
  border: 4px solid #e5e5e5;
  background-color: #ffffff;
  height: 47px;
  width: 198px;
  padding-left: 18px;
  padding-top: 2px;
}

.coment input:active,
.coment input:focus {
  border: 4px solid #e5e5e5;
  background-color: #ffffff;
  height: 47px;
  width: 198px;
  padding-left: 18px;
  padding-top: 2px;
}

@media (min-width: @tablet-width) {
  .coment input[type="tel"],
  input[type="email"] {
    width: 568px;
    height: 56px;
    border: none;
    padding-left: 21px;
    background-color: #f2f2f2;
  }

  .coment {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: white;
  }

  .coment h3 {
    border-top: none;
    font-size: 21px;
    color: #000000;
    padding: 0;
    padding-bottom: 0;
  }

  .coment input[class="name__user"] {
    width: 196px;
    font-size: 18px;
    padding-left: 21px;
    padding-top: 14px;
  }

  .coment input[class="name__surname"] {
    width: 140px;
    padding-left: 20px;
    padding-right: 19px;
    padding-top: 15px;
  }

  .coment input[class="name__seconduser"] {
    width: 161px;
    padding-left: 24px;
    padding-top: 15px;
    margin-right: 0;
    margin-left: 0;
  }

  .coment input[class="name__user"]:active,
  .coment input[class="name__user"]:focus {
    border: 4px solid #e5e5e5;
    background-color: #ffffff;
    height: 16px;
    width: 185px;
    padding-left: 17px;
    padding-top: 16px;
    padding-right: 7px;
  }

  .coment input[class="name__surname"]:active,
  .coment input[class="name__surname"]:focus {
    width: 135px;
    padding-left: 16px;
    padding-right: 20px;
    padding-top: 15px;
  }

  .coment input[class="name__seconduser"]:active,
  .coment input[class="name__seconduser"]:focus {
    width: 140px;
    padding-left: 20px;
    padding-right: 17px;
    padding-top: 15px;
    margin-top: 1px;
  }

  .coment input[type="tel"]:active,
  .coment input[type="tel"]:focus {
    border: 4px solid #e5e5e5;
    background-color: #ffffff;
    height: 47px;
    width: 564px;
    padding-left: 17px;
    padding-top: 2px;
  }

  .coment input:active,
  .coment input:focus {
    border: 4px solid #e5e5e5;
    background-color: #ffffff;
    height: 47px;
    width: 564px;
    padding-left: 17px;
    padding-top: 2px;
  }
}

@media (min-width: @desktop-width) {
  .coment input[type="tel"],
  input[type="email"] {
    width: 236px;
  }

  .coment {
    background-color: white;
  }

  .coment h3 {
    padding: 0;
  }

  .coment input[class="name__user"] {
    width: 329px;
    padding-left: 19px;
    padding-top: 15px;
  }

  .coment input[class="name__surname"] {
    width: 272px;
  }

  .coment input[class="name__seconduser"] {
    width: 292px;
  }

  .coment input[class="name__user"]:active,
  .coment input[class="name__user"]:focus {
    border: 4px solid #e5e5e5;
    background-color: #ffffff;
    height: 17px;
    width: 320px;
    padding-left: 15px;
    padding-bottom: 15px;
    margin-bottom: 1px;
  }

  .coment input[class="name__surname"]:active,
  .coment input[class="name__surname"]:focus {
    border: 4px solid #e5e5e5;
    background-color: #ffffff;
    height: 19px;
    width: 270px;
    padding-left: 16px;
    padding-bottom: 15px;
  }

  .coment input[class="name__seconduser"]:active,
  .coment input[class="name__seconduser"]:focus {
    border: 4px solid #e5e5e5;
    background-color: #ffffff;
    height: 18px;
    width: 290px;
    padding-left: 20px;
    padding-bottom: 15px;
  }

  .coment input[type="tel"]:active,
  .coment input[type="tel"]:focus {
    border: 4px solid #e5e5e5;
    background-color: #ffffff;
    height: 47px;
    width: 232px;
    padding-left: 17px;
    padding-top: 2px;
  }

  .coment input:active,
  .coment input:focus {
    border: 4px solid #e5e5e5;
    background-color: #ffffff;
    height: 47px;
    width: 232px;
    padding-left: 17px;
    padding-top: 2px;
  }
}
