.glory {
  margin: 0 auto;
  padding-top: 30px;
}

.glory__letter-box {
  font-weight: 700;
  line-height: 26px;
}

.glory__button {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  background-color: #81b3d2;
  color: white;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .glory {
    order: 1;
    padding-right: 40px;
    padding-left: 40px;
  }
}
